<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:v="urn:schemas-microsoft-com:vml"
  xmlns:o="urn:schemas-microsoft-com:office:office"
>
  <head>
    <title>忘記密碼</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
    <meta name="format-detection" content="telephone=no" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,700,700i,900,900i"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&amp;display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto Sans TC&amp;display=swap" />
    <style type="text/css">
      body {
        margin: 0;
        padding: 0;
        -webkit-text-size-adjust: 100% !important;
        -ms-text-size-adjust: 100% !important;
        -webkit-font-smoothing: antialiased !important;
      }
      table {
        border-collapse: collapse;
        mso-table-lspace: 0px;
        mso-table-rspace: 0px;
      }
      td,
      a,
      span {
        border-collapse: collapse;
        mso-line-height-rule: exactly;
      }
      .mail-container {
        padding: 40px;
        gap: 32px;
        position: relative;
        background: #fbfbfb;
        border-radius: 12px;
        max-width: 560px;
        width: 100%;
        margin: 0 auto;
      }
      .mail-container .logo {
        height: 32px;
        text-align: center;
        margin-bottom: 32px;
        margin-top: 40px;
      }
      .mail-container .logo img {
        height: 100%;
      }
      .mail-container .mail-body {
        padding: 40px 32px;
        gap: 40px;
        background: #fff;
        margin: 0 auto;
      }
      .mail-container .mail-body tr {
        width: 100%;
      }
      .mail-container .mail-body .mail-title {
        font-family: "Noto Sans TC";
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 36px;
        /* identical to box height, or 112% */
        text-align: center;
        letter-spacing: 1px;
        color: #000;
        margin-bottom: 40px;
        margin-top: 40px;
        margin-left: 32px;
        margin-right: 32px;
      }
      .mail-container .mail-body .mail-content {
        padding: 0px;
        gap: 16px;
        text-align: left;
        margin-bottom: 40px;
        margin-left: 32px;
        margin-right: 32px;
      }
      .mail-container .mail-body .mail-content .mail-description {
        font-family: "Noto Sans TC";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        /* identical to box height, or 157% */
        text-align: left;
        letter-spacing: 0.4px;
        /* neutral/tone 2 darkgrey */
        color: #505050;
        margin-bottom: 16px;
      }
      .mail-container .mail-body .mail-content .mail-description.highlight {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 48px;
        /* identical to box height, or 150% */
        /* Neutral/1 Black */
        color: #040404;
      }
      .mail-container .mail-body .mail-footer {
        padding: 0px;
        gap: 8px;
        text-align: center;
        margin-bottom: 40px;
        margin-left: 32px;
        margin-right: 32px;
      }
      .mail-container .mail-body .mail-footer .important {
        font-family: "Noto Sans TC";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        /* identical to box height, or 157% */
        letter-spacing: 0.4px;
        /* neutral/tone 4 grey */
        color: #a7a7a7;
        margin-bottom: 8px;
      }
      .mail-container .mail-body .mail-footer .info {
        font-family: "Noto Sans TC";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        /* identical to box height, or 150% */
        letter-spacing: 0.4px;
        /* neutral/tone 4 grey */
        color: #a7a7a7;
      }
    </style>
  </head>
  <body>
    <table class="mail-container">
      <thead>
      <tr>
        <th>
          <div class="logo">
            <img src="{{ .LogoUrl }}" />
          </div>
        </th>
      </tr>
      </thead>
      <tbody class="mail-body">
      <tr>
        <td>
            <div class="mail-title">重新設定您的密碼</div>
        </td>
        </tr>
        <tr>
            <td>
        <div class="mail-content">
          <div class="mail-description">Hi, {{ .RealName }}</div>
          <div class="mail-description">
            為了確認你的電子郵件地址，你必須完成一個快速步驟。
          </div>
          <div class="mail-description">
            請再出現提示時，在 {{ .Platform }} 上輸入此驗證碼
          </div>
          <div class="mail-description highlight">{{ .Code }}</div>
          <div class="mail-description">此驗證碼將於 10 分鐘後失效。</div>
        </div>
        <div class="mail-footer">
          <div class="important">這封信為系統自動發出，請勿直接回覆</div>
          <div class="info">© 2023 CozBrand CO., LTD. All Rights Reserved</div>
        </div>
      </div>
      </td>
      </tr>
      </tbody>
    </table>
  </body>
</html>
